.main-footer{

          width: 100%;
          height: 5%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .main-footer-span{

                    color: grey;

          }
}