main{
          width: 100vw;
          height: 85vh;
          background-color: #222222;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
}

@import "./sub_main/filter";
@import "./sub_main/_listapokemon";
@import "./footer";