.main-div2{

          width: 100%;
          height: 85%;
          max-height: 85%;
          overflow-y: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          flex-wrap: wrap;

          .main-div2-pokemonDiv{

                    width: 150px;
                    height: 150px;
                    margin: 20px;
                    
                    .main-div2-pokemonDiv-div1{

                              width: 100%;
                              height: 90%;
                              display: flex;
                              justify-content: center;

                              .main-div2-pokemonDiv-div1-img{

                                        width: 75%;
                                        height: 100%;

                              }
                    }

                    .main-div2-pokemonDiv-div2{

                              width: 100%;
                              height: 10%;
                              display: flex;
                              justify-content: center;
                              align-items: center;

                    }
          }
}