.main-div2{

          width: 100%;
          height: 85%;
          max-height: 85%;
          overflow-y: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          flex-wrap: wrap;

          .main-div2-pokemonDiv{

                    width: 150px;
                    height: 150px;
                    margin: 20px;

          }

          .main-div2-pokemonDiv-pokemonInfoDiv-div-img{

                    width: 100%;
                    height: 100%;

          }
}